
.product_info{
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 100%;
    gap: 20px;
    padding: 10px;
}

.productImg{
    width:100%
}

.product-title{
    font-weight: 400;
    padding: 10px;
}

.product-title1{
    font-weight: 400;
    margin-top: 0;
    padding-left: 10px;
}

.product_image_div{
    width: 60%;
    height: 100vh;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    display: flex;
    flex-wrap: nowrap;
}


.imageContainer{
    position: relative;
    width: 100%;
    height: 99%;
    scroll-snap-align: center;
    flex-shrink: 0;
}

.product_image_div::-webkit-scrollbar{
    height: 8px;
}

.product_image_div::-webkit-scrollbar-track{
   background: grey;
   border-radius: 8px;
}

.product_image_div::-webkit-scrollbar-thumb{
  background-color:rgb(206, 206, 206);
  border-radius: 8px;
}

.product_details_div{
    width:38%;
}

.product_details{
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
}

.productImage{
    width: 100%;
    height: 100%;
}

.button-instock{
    padding: 5px 15px;
    font-size: 30px;
    border:1px solid rgb(206, 206, 206);
}

.button-instock:hover{
    background: black;
    color: white;
}

.button-add-cart{
    width: 140px;
    border:1px solid rgb(206, 206, 206);
    padding: 15px 0px;
    font-weight: 600;
    font-size: 18px;
}

.button-add-cart:hover {
    background: black;
    color: white;
}

.span-price{
    font-size: 25px;
    color: red;
}

.product-description{
    padding: 10px;
    letter-spacing: 1px;
    color:rgb(97, 97, 97) ;
}

.product-description:hover{
    text-decoration: none;
    cursor: pointer;
}

.product-details{
    font-weight: 400;
    font-size: 23px;
    color: black;
}
