@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');


.sticky-header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    backdrop-filter: blur(32px);
    transition: 1s;
}

.sticky-header:hover {
    background-color: white;
}


.brand-logo a {
    color: black;
    text-decoration: none;
    font-size: 40px;
    font-family: 'Allerta Stencil', sans-serif;
    letter-spacing: 10px;
}


.search-logo-customer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}


.brand-logo {
    align-self: center;
}


.customer-nav-container {
   align-self: flex-end;
   margin-right: 50px;
}