.departments-nav {
    text-align: center;
}

.departments-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border: 1px solid rgb(215, 215, 215)
  }
  
  .department-list-item {
    float: left;
  }
  
  .department-list-item a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 40px;
    text-decoration: none;
  }

  .department-list-item a {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.2px;
    line-height: 36px;
}
  
  
  .department-list-item a:hover {
    border-bottom: 2px solid rgb(215, 215, 215);
  }