

@media screen and (max-width: 600px) {
  .slide-item-info {
    font-size: 13px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}
