.customer-nav {
    text-align: center;
}

.customer-nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.customer-nav ul li {
    font-size: 20px;
}

.customer-nav ul .text{
    font-size: 15px;
}

.customer-nav a {
color: black;
}

.customer-nav ul .cart-link {
    position: relative;
    font-size: 25px;
    padding-top: 5px;
}

.favoritesCount{
   display: flex;
   gap: 5px;
}


.cart-dropDown-container{
    width: 300px;
    height: 1px;
    position: absolute;
    left: -127px;
    background-color: rgb(241, 241, 241);
    border: 1px solid rgb(221, 221, 221);
    padding: 5px;
    z-index: 1;
    opacity: 0;
    transition: .5s;
    transition-delay: .3s;
    visibility: hidden;
    display: flex;
    flex-direction: column;
}

.cart-link a:hover + .cart-dropDown-container{
    height: 340px;
    opacity: 1;
    visibility: visible;
}

.cart-dropDown-container:hover{
    height: 340px;
    opacity: 1;
    visibility: visible;
} 

.cart-dropDown-list{
    width: 100%;
    height: 260px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    overflow-y: auto;
}

.cart-dropDown-list p{
    font-size: 16px;
}

.cart-dropDown-list p a{
    color: rgb(32, 32, 107);
}

.no_cartItem_Icon{
    color: lightslategray;
    font-size: 50px;
}

.cart-dropDown-button{
    width: 100%;
    height: 30px;
    margin-top: 5px;
    border-top: 1px solid grey;
    padding-top: 10px;
}

.cart-dropDown-button button{
    width: 100%;
    height: 100%;
    color: white;
    background-color: black;
    letter-spacing: 1px;
    cursor: pointer;
}

.cart-dropDown-button span {
    font-size: 20px;
}

.dropDownListItem{
    width: 100%;
    height: 50px;
    display: flex;
    gap: 8px;
    background-color: rgb(241, 241, 241);
    border-bottom: 1px solid grey;
    cursor: pointer;
}

.dropDownListItem img{
    width: 50px;    
}

.dropDownListItemTitle{
    width: 170px;
    height: 100%;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.dropDownListItemPrice{
    width: 75px;
    height: 100%;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.cart-dropDown-list::-webkit-scrollbar{
    width: 4px;
}

.cart-dropDown-list::-webkit-scrollbar-thumb{
    background: grey;
    border-radius: 8px;  
}

.cart-dropDown-list::-webkit-scrollbar-track{
    background-color:rgb(206, 206, 206);
    border-radius: 8px;
 }

