.dropdown-menu {
  width: 100%;
  position: absolute;
  opacity: 0;
  background-color: white;
  top: 100%;
  left: 0;
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.393);
  visibility: hidden;
  transition-delay: .2s;
  margin-top: 1px;
  display: flex;
  justify-content: center;
}

.department-list-item:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
}

.dropdown-content {
  margin: 40px;
  display: grid;
  gap: 50px;
  grid-auto-flow: column;
}



.dropdown-category-list {
  list-style-type: none;
  padding: 0;
}


.dropdown-category-list li a:hover {
  text-decoration: underline;
}

.dropdown-category-list li a {
  font-size: 15px;
  line-height: 30px;
}


.dropdown-category-list li {
  display: flex;
  justify-content: flex-start;
}

.dropdown-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start !important;
}


.dropdown-column-header {
  display: inherit;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-weight: 600;
}