.products-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
    gap: 30px;
}

.product {
    width: 300px;
}

.products_images {
    width: 300px;
    border-radius: 8px;
}

.products_images:hover {
    box-shadow: 0px 0px 20px rgb(134, 134, 134);
}

.products_images_div {
    position: relative;
}

.products_icon_heart {
    position: absolute;
    bottom: 10px;
    font-size: 28px;
    right: 10px;
    transition: .2s;
}

.products_icon_heart:hover {
    font-size: 33px;
    cursor: pointer;
}

.sortByPrice {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
}

#sort {
    padding: 10px;
    padding-right: 30px;
    gap: 10px;
    border: 1px solid #e6e3de;
    cursor: pointer;
}

#sort:focus {
    border: 1px solid #e6e3de;
    outline: none;
}

.sortByPrice {
    position: relative;
}

.sortByPrice::after {
    content: '\25BC';
    appearance: none;
    background-image: url(../../assets/001.webp);
    background-position: center;
    background-size: cover;
    padding: 10px;
    color: #e6e3de;
    position: absolute;
    top: 0;
    right: 50px;
    pointer-events: none;
}